*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
}

h1,
p {
  margin: 0;
}
